body 
        

header {
    height: 100px;
    width: 95%;
    background-image: url("https://images.pexels.com/photos/2440079/pexels-photo-2440079.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");

    border: 10px solid rgb(34, 34, 142);
    /* background-color: lightblue; */
}

section {
    height: 10px;
    width: 80%;
    margin: 30px auto;
    border: 10px solid black;
}

section {
    height: 400px;
    width: 80%;
    margin: 30px auto;
    border: 10px solid black;
}

h1 {
    text-align: center;
    line-height: 100px;
}