body {
    display: flex;
     flex-wrap: wrap; 

    background-color: rgb(164, 164, 221);
}
header {
    height: 100px;
    width: 95%;
    
    border: 10px solid rgb(34, 34, 142);
    background-color: lightblue;
}
section {
    height: 400px;
    width: 80%;
    margin: 30px auto;
    border: 10px solid black;
}

section {
    height: 400px;
    width: 80%;
    margin: 30px auto;
    border: 10px solid black;
}

h1{
    text-align: center;
    line-height: 100px;
}